* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: sans-serif;
}

body {
  background-color: #202020;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: #fff;
  position: absolute;
}

.ponteiro-body {
  width: 10px;
  height: 125px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.ponteiro {
  width: 100%;
  height: 50%;
  background-color: #000;

  margin: 0 auto;
}

.texts {
  position: absolute;
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  .twelve {
    position: absolute;
    color: #fff;
    height: 200px;
    width: 20px;
    z-index: 1;
  }

  .one {
    position: absolute;
    color: #fff;
    height: 200px;
    z-index: 1;
    transform: rotate(30deg);
  }

  .two {
    position: absolute;
    color: #fff;
    height: 200px;
    width: 20px;
    z-index: 1;
    transform: rotate(60deg);
  }

  .three {
    position: absolute;
    color: #fff;
    height: 200px;
    width: 20px;
    z-index: 1;
    transform: rotate(90deg);
  }

  .four {
    position: absolute;
    color: #fff;
    height: 200px;
    width: 20px;
    z-index: 1;
    transform: rotate(120deg);
  }

  .five {
    position: absolute;
    color: #fff;
    height: 200px;
    width: 20px;
    z-index: 1;
    transform: rotate(150deg);
  }

  .six {
    position: absolute;
    color: #fff;
    height: 200px;
    width: 20px;
    z-index: 1;
    transform: rotate(180deg);
  }

  .seven {
    position: absolute;
    color: #fff;
    height: 200px;
    width: 20px;
    z-index: 1;
    transform: rotate(210deg);
  }

  .eight {
    position: absolute;
    color: #fff;
    height: 200px;
    width: 20px;
    z-index: 1;
    transform: rotate(240deg);
  }

  .nine {
    position: absolute;
    color: #fff;
    height: 200px;
    width: 20px;
    z-index: 1;
    transform: rotate(270deg);
  }

  .ten {
    position: absolute;
    color: #fff;
    height: 200px;
    width: 20px;
    z-index: 1;
    transform: rotate(300deg);
  }

  .eleven {
    position: absolute;
    color: #fff;
    height: 200px;
    width: 20px;
    z-index: 1;
    transform: rotate(330deg);
  }
}

.tempo-digital{
    position: absolute;
    top: -25vh;
    font-size: 2rem;
    color: #fff;
    border: 2px solid #fff;
    padding: 5px 10px;
    text-align: center;
}